@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: "Changa One", cursive;
  font-weight: 400;
  background-color: #060B04;
  background-image: url("../images/page-bg.png");
  background-size: cover; }

/* Define keyframes for shake animation */
@keyframes shake {
  0%,
    100% {
    transform: translateX(0); }
  25% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(5px); }
  75% {
    transform: translateX(-5px); } }
.hero {
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 0 20px;
  animation: backgroundZoom 3s infinite alternate ease-in-out; }
  @media (min-width: 576px) {
    .hero {
      justify-content: flex-end;
      gap: 20px;
      background-image: url("../images/hero.png"); } }
  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    animation: shake 5s ease-in-out infinite; }
    .hero-image img {
      width: 100%;
      height: auto;
      transition: .3s all ease; }
      .hero-image img:hover {
        transform: scale(1.1); }
  .hero .copy-area {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    min-height: 66px;
    gap: 10px;
    background: #9E4AF3;
    border-radius: 12px;
    color: #fff;
    border: 2px solid #DE82FF;
    background-image: url("../images/copy-bg.png");
    max-width: 100%;
    line-break: anywhere;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .hero .copy-area {
        font-size: 28px; } }
    .hero .copy-area button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      line-break: anywhere;
      transition: transform 0.2s ease;
      /* Smooth transition for click effect */ }
      .hero .copy-area button img {
        width: 30px;
        height: 100%; }
    .hero .copy-area button:hover {
      transform: scale(1.05);
      /* Enlarges the button slightly when hovered */ }
    .hero .copy-area button:active {
      transform: scale(0.95); }

@keyframes backgroundZoom {
  0% {
    background-size: 130%; }
  100% {
    background-size: 140%; } }
.fixed-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .fixed-navbar {
      justify-content: space-between; } }
  .fixed-navbar .left {
    height: 52px; }
    .fixed-navbar .left .logo {
      width: auto;
      height: 100%;
      transition: transform 0.3s ease-in-out; }
      .fixed-navbar .left .logo img {
        width: auto;
        height: 100%; }
      .fixed-navbar .left .logo:hover {
        transform: scale(1.1); }
  .fixed-navbar .right {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 44px; }
    @media (min-width: 768px) {
      .fixed-navbar .right {
        display: flex; } }
    .fixed-navbar .right .social-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      .fixed-navbar .right .social-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        transition: background-color 0.3s ease, transform 0.3s ease; }
        .fixed-navbar .right .social-links a img {
          width: 100%;
          height: 100%; }
        .fixed-navbar .right .social-links a:hover {
          transform: scale(1.1); }
    .fixed-navbar .right .buttons {
      display: flex;
      justify-content: center;
      align-items: center; }
      .fixed-navbar .right .buttons a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 20px;
        text-transform: uppercase;
        height: 44px;
        text-decoration: none;
        color: #fff;
        padding: 20px;
        border-radius: 12px;
        background-color: #9E4AF3;
        transition: background-color 0.3s ease, transform 0.3s ease;
        background-image: url("../images/button-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #DE82FF; }
        .fixed-navbar .right .buttons a:hover {
          transform: scale(1.05); }

h1 {
  font-size: 56px;
  color: #fff; }

.hero-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  padding: 80px;
  padding-bottom: 200px; }
  .hero-bottom .purpose {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px; }
    @media (min-width: 768px) {
      .hero-bottom .purpose {
        flex-direction: row;
        justify-content: space-between; } }
    .hero-bottom .purpose .left {
      order: 2;
      gap: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 500px;
      text-align: center; }
      .hero-bottom .purpose .left p {
        color: #fff;
        font-size: 30px;
        font-family: 'Rubik', cursive; }
      @media (min-width: 768px) {
        .hero-bottom .purpose .left {
          order: 1;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: start; } }
    .hero-bottom .purpose .right {
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .hero-bottom .purpose .right img {
        width: 100%;
        max-width: 500px;
        border-radius: 12px;
        border: 3px solid #DE82FF;
        box-shadow: 1px 1px 30px #DE82FF; }
      @media (min-width: 768px) {
        .hero-bottom .purpose .right {
          order: 2; } }
  .hero-bottom .support-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 40px; }
    .hero-bottom .support-us .divc {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 20px; }
    .hero-bottom .support-us p {
      color: #87DA58;
      font-size: 30px; }
    .hero-bottom .support-us span {
      color: #223D18;
      font-size: 30px; }
    .hero-bottom .support-us .footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .hero-bottom .support-us .footer .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%; }
        .hero-bottom .support-us .footer .buttons a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          flex-direction: row;
          font-size: 30px;
          text-transform: uppercase;
          min-height: 90px;
          text-decoration: none;
          color: #fff;
          padding: 20px;
          border-radius: 12px;
          background-color: #9E4AF3;
          transition: background-color 0.3s ease, transform 0.3s ease;
          background-image: url("../images/button-bg.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid #DE82FF; }
          .hero-bottom .support-us .footer .buttons a:hover {
            transform: scale(1.01); }
          @media (min-width: 1200px) {
            .hero-bottom .support-us .footer .buttons a {
              font-size: 50px;
              width: 49%; } }
        .hero-bottom .support-us .footer .buttons div {
          position: relative;
          width: 100%; }
          @media (min-width: 1200px) {
            .hero-bottom .support-us .footer .buttons div {
              width: 49%; } }
          .hero-bottom .support-us .footer .buttons div .disabled {
            width: 100%;
            opacity: .6;
            cursor: not-allowed; }
          .hero-bottom .support-us .footer .buttons div span {
            position: absolute;
            top: -10px;
            right: -10px;
            transform: rotate(-10deg);
            color: #fff;
            font-size: 50px;
            font-family: 'Gochi Hand', sans-serif; }
      .hero-bottom .support-us .footer .links {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 10px 0;
        grid-gap: 20px; }
        @media (min-width: 440px) {
          .hero-bottom .support-us .footer .links {
            grid-template-columns: 1fr 1fr; } }
        @media (min-width: 992px) {
          .hero-bottom .support-us .footer .links {
            grid-template-columns: 1fr 1fr 1fr 1fr; } }
        .hero-bottom .support-us .footer .links a {
          display: flex;
          width: 100%; }
          .hero-bottom .support-us .footer .links a img {
            width: 100%; }

/*# sourceMappingURL=style.css.map */
